/* CSS files add styling rules to your content */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  /* font-family: righteous, sans-serif; */
  background-image: url("https://cdn.glitch.com/6c21c18a-3577-446f-b6e2-caf6b0c0f8dc%2Ffiredots-01-01.png?v=1604336259203");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 100px;
  font-family: "righteous_regular.ttf", sans-serif;
  background-attachment: fixed;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 2%;
  font-family: "righteous_regular.ttf", sans-serif;
  background-color: #EBED00;
  box-shadow: 0em 0.313em 0.313em black;
  z-index: 9998;
  height: 6.25em;
  position: fixed;
  width: 100%;
}

li,
a {
  font-size: 24px;
  color: black;
  text-decoration: none;
}

.logo {
  width: 250px;
  cursor: pointer;
}

.icon {
  width: 90px;
  cursor: pointer;
}

.nav__links {
  list-style: none;
  margin-right: 150px;
  cursor: pointer;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: red;
}

div {
  display: flex;
  margin-right: 1.25em;
}

.heart {
  width: 420px;
  position: fixed;
  top: 332px;
  left: 535px;
  background-attachment: inherit;
}

.calm {
  width: 150px;
  height: 70px;
  background-color: #EBED00;
  font-family: righteous;
  font-size: 1.25rem;
  padding: 12px;
  text-align: center;
  border-radius: 75px;
  border: solid 0.188em #000000;
  position: absolute;
  box-shadow: 0em 0.188em 0.188em black;
  font-family: "righteous_regular.ttf", sans-serif;
  box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  cursor: pointer;
  margin-right: 20vh;
  margin-left: 150vh;
  margin-top: 85vh;
}

*:focus {
  outline: 0 !important;
}

.calm:hover {
  transform: scale(1.5) rotate(360deg);
  transition-duration: 0.5s;
}

/* HERE GOES SPORTIFY PLAYER STYLE */
.play {
  top: 31px;
  right: 1.25em;
  width: 70px;
  height: 80px;
  padding: 0px;
  z-index: 9999;
  position: fixed;
}
.play img {
  width: 70px;
  height: 90px;
  padding: 0px;
  margin: 0px;
}
@keyframes example {
  0% {
    top: 75px;
    right: -120px;
  }
  2% {
    top: 75px;
    right: 200px;
  }
  7% {
    top: 75px;
    right: 200px;
  }
  8% {
    top: 75px;
    right: 200px;
  }
  100% {
    top: 75px;
    right: 200px;
  }
}

.play:hover .play-long {
  width: 300px;
  display: block;
  right: -2vw;
  position: relative;
  animation-name: example;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

/* On hover, display the longer name.  */
.play-long {
  display: none;
  position: relative;
  top: 90px;
  right: ;
  transition: 0.5s ease;
}

/* HERE GOES ABOUT.HTML STYLE */
.about {
  font-family: "righteous_regular.ttf", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  background-color: #EBED00;
  padding: 30px;
  border: solid 0.188em #000000;
  box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  position: absolute;
  width: 717px;
  height: 520px;
  left: 361px;
  top: 200px;
}

/* HERE GOES HELP.HTML STYLE */
.helpFirst {
  font-family: "righteous_regular.ttf", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  padding: 15px;
  color: #000000;
  position: absolute;
  width: 1223px;
  height: 270px;
  left: 109px;
  top: 728px;
  padding: 20px;
  background-color: #EBED00;
  border: solid 0.22em #000000;
  box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.helpSecond {
  position: absolute;
  width: 1223px;
  height: 281px;
  left: 109px;
  top: 1028px;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 20px;
  font-family: "righteous_regular.ttf", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  background-color: #FF7500;
  border: solid 0.22em #000000;
  box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin-bottom: 20px;
}

.helpThird {
  position: absolute;
  width: 1223px;
  height: 58px;
  left: 109px;
  top: 130px;
  padding: 15px;
  font-family: "righteous_regular.ttf", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 5vh;
  color: #000000;
  background-color: #EBED00;
  border: solid 0.22em #000000;
  box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.helpFourth {
  position: absolute;
  width: 1223px;
  height: 480px;
  left: 109px;
  top: 218px;
  padding-bottom: 30px;
  padding-top: 15px;
  padding-left: 15px;
  font-family: "righteous_regular.ttf", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 5vh;
  color: #000000;

  background-color: #FF7500;
  border: solid 0.22em #000000;
  box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.flexImage {
  display: flex;
}

.movie {
  display: block;
  height: 200px;
  margin-left: 400px;
  margin-right: auto;
  border: solid 0.1em #000000;
  box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.series {
  display: block;
  height: 200px;
  margin-right: 400px;
  margin-left: auto;
  border: solid 0.1em #000000;
  box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.breakImg {
  max-height: 500px;
  margin-top: 29.1vh;
  margin-left: 18.5vw;
  margin-right: auto;
  display: none;
  position: absolute;
  top: -1px;
  left: 0;
  display: block;
  border: solid 1em #000000;
  box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.5);
}

select {
  webkit-appearance: none;
  moz-appearance: none;
}
.dropbtn {
  color: black;
  background-color: #FF7500;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  border: solid 0.2em #000000;
  font-family: "righteous_regular.ttf", sans-serif;
  box-shadow: 0em 0.1em 0.1em black;
  width: 370px;
  text-align: left;
  margin-top: 10vh;
  box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
  left: 10px;
  height: 60px;
  padding-left: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 250px;
  top: 65px;
  left: 515px;
  z-index: 2;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FF7500;
  min-width: 160px;
  box-shadow: 0em 0.5em 1em 0em rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: "righteous_regular.ttf", sans-serif;
  box-shadow: 0em 0.188em 0.188em black;
  width: 370px;
  border: solid 3px #000000;
  box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 0.75em 1em;
  text-decoration: none;
  display: block;
  font-family: "righteous_regular.ttf", sans-serif;
  padding: 15px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown :hover .dropbtn {
  color: white;
}

/* HERE GOES SEND.HTML STYLE */
.send {
  border: 5px solid #000000;
  position: absolute;
  width: 861px;
  height: 70px;
  left: 289px;
  top: 200px;
  background: #EBED00;
  opacity: 0.8;
  box-sizing: border-box;
  box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.5);
  border-radius: 22px 22px 0px 0px;
  font-family: "righteous_regular.ttf", sans-serif;
  padding: 10px 20px;
}

form {
  border: 5px solid #000000;
  position: absolute;
  width: 861px;
  height: 464px;
  padding: 12px 20px;
  margin: 8px 0;
  left: 289px;
  top: 257px;
  background: #FF7500;
  box-sizing: border-box;
  box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 22px 22px;
  font-family: "righteous_regular.ttf", sans-serif;
}

fieldset {
  border: 0px;
}

input[type="textTo"] {
  border-bottom: 2px solid #000000; /*why is the border-bottom grey?? */
  background-color: #FF7500;
  width: 800px;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 20px;
  margin-top: 10px;
  font-family: "righteous_regular.ttf", sans-serif;
}

input[type="textSubject"] {
  border-bottom: 2px solid #000000; /*why is the border-bottom grey?? */
  background-color: #FF7500;
  width: 800px;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 10px;
  font-family: "righteous_regular.ttf", sans-serif;
  margin-bottom: 20px;
  
}

input[type="textWrite"] {
  border: none;
  width: 800px;
  height: 300px; /*!important;*/
  background-color: #FF7500;
  outline: none;
  color: #000000;

}

.texxt {
  height: 220px;
}

.deletebin {
  width: 24px;
  position: absolute;
  bottom: 25px;
  cursor: pointer;
}

.deletebin:hover {
  transform: scale(1.4);
  transition-duration: 0.5s;
}

.submit {
  left: 50vw;
}

.submit:hover {
  cursor: pointer;
  transform: scale(1.4);
  transition-duration: 0.5s;
}

/* Explanation: submit:active is for adding audio to send button */
/* .submit:active {
  box-shadow: 2px 2px 2px #777;
  border-bottom: 1px solid #c0392b;
  transform: translateY(3px);
} */

input[type="submit"] {
  width: 80px;
  background-color: #EBED00;
  border: 1px solid #000000;
  border-radius: 11px 11px 11px 11px;
  font-family: "righteous_regular.ttf", sans-serif;
  padding: 5px;
  position: absolute;
  bottom: 18px;
}

.cancel {
  height: 20px;
  margin-top: 225px;
  margin-left: 1080px;
  position: absolute;
  cursor: pointer;
}

textarea {
  border: none;
  width: 800px;
  height: 300px; /*!important;*/
  background-color: #FF7500;
  outline: none;
  color: #000000;
  font-family: "righteous_regular.ttf", sans-serif;
  resize: none;
}

.infoImage {
  width: 30px;
  margin-top: 222px;
  margin-left: 39.5vw;
  position: absolute;
  cursor: pointer;
}

.infoImage:hover {
  transform: scale(1.4);
  transition-duration: 0.5s;
}

/* HERE GOES HEAVEN MODE*/

/* .form-style {
  margin:5px;
} */

.heavenStyle {
  background-image: url("https://cdn.glitch.com/6c21c18a-3577-446f-b6e2-caf6b0c0f8dc%2FNamnlo%CC%88st-2_Rityta%201.png?v=1604336790002");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 100px;
  font-family: "righteous_regular.ttf", sans-serif;
  background-attachment: fixed;
}

.modal {
  max-height: 500px;
  max-widht: 900px;
  margin-top: 30vh;
  margin-left: 10vw;
  margin-right: 10vw;
  border: solid 0.22em #000000;
  box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.5);
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;

  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: -55px;
  right: 0;
  z-index: 4;
  padding: 7px 20px 15px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.video-container {
  margin-top: 29.1vh;
  margin-left: 18.5vw;
  margin-right: auto;
  display: none;
  position: absolute;
  top: -1px;
  left: 0;
}
.video-container iframe {
  height: 500px;
  width: 885px;
  border: solid 0.22em #000000;
}
.open {
  display: block;
}

/* COPYRIGHT ATYLE HERE*/
.copyright {
  color: #000000;
  font-family: "righteous_regular.ttf", sans-serif;
  font-size: 15px;
  position: fixed;
  margin-top: 95vh;
  margin-right: 70vw;
  margin-left: 2vw;
}

.sendButton {
  border: 1.5px solid black;
  background-color: white;
  display: block;
  margin-right: 0;
  margin-left: 730px;
  cursor: pointer;
  font-size: 16px;
  padding: 4px 15px;
  border-radius: 20px;
  background-color: #EBED00;
  margin-top: 10px;
}

.sendButton:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.here01:hover {
  color: Red;
}

.here01 {
  transition: all 0.3s ease 0s;
}

.here02:hover {
  color: Red;
}

.here02 {
  transition: all 0.3s ease 0s;
}
